* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

header {
    background-color: #082032;
    border: solid;
    border-color: #082032;
    display: flex;
    padding: 0 30px;
    justify-content: space-between;
}

.logo-link{
    text-decoration: none;
}

.logo-container{
    display: grid;
    grid-template-columns: 110px auto;
    grid-template-rows: auto auto;
    margin: 15px 0 10px 35px;
    width: fit-content;
}

.logo-container img{
    width: 85px;
}

.abc-mall{
    font-size: 40px;
    color: white;
    height: fit-content;
    padding-top: 15px;
}

.mall-slogan{
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    font-weight: 300;
    height: fit-content;
    color: white;
    position: relative;
    top: -5px;
}

.yellow-button {
    width: auto;
    height: auto;
    padding: 10px 5px;
}

.yellow-button a {
    background-color: rgba(240, 165, 0,1);
    transition: background-color 0.2s ease-in-out 0s;
    font-size: medium;
    border-radius: 20px;
    margin-right: 6px;
    color: #000;
    font-weight: 600;
    text-decoration: none;
    padding: 9px 80px;
}

.yellow-button a:hover{
    background-color: rgba(240, 165, 0, 0.8);
}

.search-button {
    width: 300px;
    border: 1px solid white;
    border-radius: 20px;
    padding-top: 7px;
    height: 40px;
}

.search-button input[type=text] {
    width: 250px;
    background-color: transparent;
    color: white;
    border: none;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    margin-left: 15px;
}

.search-button input:focus{
    outline: none;
}

.search-button input:focus::placeholder{
    color: transparent;
}

.search-button input::placeholder{
    text-align: center;
    color: white;
}

.search-button button {
    border: none;
    cursor: pointer;
    background: none;
}

.search-button i {
    font-size: 15px;
    color: white;
}

.nav-container{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto;
    margin: 17px 20px 10px 0px;
    height: 115px;
}

.icons {
    width: auto;
    height: auto;
    padding: 20px 20px 0 20px;
}

.icons img {
    float: left;
    margin-right: 20px;
}

.icons-login {
    border-radius: 21px;
    text-decoration: none;
    color: #082032;
    font-weight: 600;
    background: white;
    padding: 5px 70px;
}

.icons-login:hover {
    background: rgb(219, 219, 219);
    transition: background-color 0.2s ease-in-out 0s;
}

.main-page {
    max-width: 1310px;
    height: auto;
    margin: 20px auto;
}

.main-article{
    display: grid;
    grid-template-rows: 80% 20%;
    border-radius: 21px;
}

.main-article-label{
    background-color: #334756;
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    color: white;
    display: flex;
    padding-top: 18px;
}

.text {
    height: fit-content;
    margin-left: 30px;
}

.text h1{
    font-size: 26px;
    font-weight: 600;
}

.text h5 {
    font-size: 15px;
    font-weight: 300;
}

.main-article-img{
    background-image: url("../DesignMaterials/Images/izzy-s-pizza.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.main-nav-button{
    border-radius: 21px;
}

.main-nav-button {
    font-weight: 600;
    font-size: 13px;
}

#main-shop-button{
    background-color: #2C85C9;
    transition: background-color 0.2s ease-in-out 0s;
}

#main-shop-button:hover{
    background-color: #1b5683;
}

#main-shop-button a{
    text-decoration: none;
    color:white;
}

#main-shop-button a #out{
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-shop-button a #out #in{
    font-size: 200%;
}

#main-restaurant-button{
    background-color: #8DC92C;
    transition: background-color 0.2s ease-in-out 0s;
}

#main-restaurant-button:hover{
    background-color: #6f9e22;
}

#main-restaurant-button a{
    text-decoration: none;
    color:white;
}

#main-restaurant-button a #out{
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-restaurant-button a #out #in{
    font-size: 200%;
}

#main-cinema-button{
    background-color: #C9802C;
    transition: background-color 0.2s ease-in-out 0s;
}

#main-cinema-button:hover{
    background-color: #7a4d19;
}

#main-cinema-button a {
    text-decoration: none;
    color:white;
}

#main-cinema-button a #out {
    height: 100%;
    border-radius: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#main-cinema-button a #out #in{
    font-size: 200%;
}

.sub-article {
    display: grid;
    grid-template-rows: 80% 20%;
    border-radius: 21px;
}

.articles-and-nav{
    display: grid;
    grid-template-columns: 20% 20% 20% 40%;
    grid-template-rows: 23% 23% 23% 30%;
    height: 100vh;
}

.articles-and-nav > *{
    margin: 15px;
}

#sub-article-img1 {
    background-image: url("../DesignMaterials/Images/https___blogs-images.forbes.com_trevornace_files_2015_11_beautiful-places-world-1200x900.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: 1px solid rgba(51, 71, 86, 0.3);
}

#sub-article-img2{
    background-image: url("../DesignMaterials/Images/Asian-Street-Kitchen-Festival-2019-min.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: 1px solid rgba(51, 71, 86, 0.3);
}

#sub-article-img3{
    background-image: url("../DesignMaterials/Images/GettyImages_1175278483.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center;
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
    border: 1px solid rgba(51, 71, 86, 0.3);
}

.sub-article-label {
    font-size: 15px;
    color: rgba(51, 71, 86, 1);
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
    border: 1px solid rgba(51, 71, 86, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sub-article-label h4 {
    font-weight: 400;
}

.admin-assoc-login{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.admin-assoc-login-button button{
    width: 300px;
    height: 50px;
    border-radius: 50px;
    border: none;
    color: white;
    font-family: 'Open Sans', sans-serif;
    font-size: 18px;
    background-color: rgba(8, 32, 50,1);
    cursor: pointer;
}

.admin-assoc-login-button button:hover{
    background-color: rgba(8, 32, 50,0.9);
}
