.admin-menu-container{
    border: 1px #334756 solid;
    width: 500px;
    border-radius: 30px;
    margin-top: 30px;
}

.body, .admin-img, .label , .admin-menu-button-container, .log-out-container{
    display: flex;
    justify-content: center;
    font-family: sans-serif;
}

.label{
   font-size: 23px; 
   margin-top: 10px;
}

.admin-img img{
    width: 150px;
}

.admin-menu-button {
    width: 400px;
    background-color: rgba(51, 71, 86,1);
    border-radius: 20px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.admin-menu-button-container a{
    text-decoration: none;
}

.admin-menu-button h3{
    padding: 10px 0;
}

.admin-logout{
    margin: 20px 0;
    color: rgba(8, 32, 50, 1);
}

.admin-logout:hover{
    color: rgba(8, 32, 50, 0.8);
}

.admin-menu-button:hover{
    background-color: rgba(51, 71, 86,0.8);
}

.log-out-container a{
    text-decoration: none; 
}

.grid-page{
    display: grid;
    grid-template-columns: 20% 60% 20%;
    margin-top: 25px;
}

.left{
    display: flex;
    justify-content: flex-end; 
}

.left a{
    text-decoration: none;
    color: rgb(51, 71, 86);
}

#sex-text{
    padding-right: 10px;
}

.sex{
    width: fit-content;
}

.register-form-container{
    border: 1px solid rgba(8, 32, 50, 1);
    border-radius: 30px;
    padding: 20px;
    width: 700px;
}

.img-container{
    display: flex;
    justify-content: center;
}

.inputs{
    border-radius: 20px;
    height: 50px;
    width: 420px;
    display: block;
    margin: 10px auto 0 auto;
    text-align: center;
    border: 1px solid rgb(51, 71, 86);
}

.inputs::placeholder{
    text-align: center;
    font-size: 15px;
}

.contain{
    display: flex;
    width: 400px;
    justify-content: space-between;
    margin: 10px auto 0 auto;
}

#register-submit{
    width: 200px;
    height: 36px;
    border-radius: 20px;
    background-color: rgba(8, 32, 50, 1);
    color: white;
}

.submit-container{
    margin-top: 10px;
    display: flex;
    justify-content: center;
}

.center{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.left a{
    height: fit-content;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 71, 86);
    font-size: 30px;
}

.left a:hover{
    text-decoration: underline;
}

.manage-front-page-container{
    border: 1px solid black;
    font-family: 'Open Sans', sans-serif;
    color: rgb(51, 71, 86);
    width: 80%;
    text-align: center;
    padding: 10px;
    border-radius: 15px;
}

.form-article-container{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.form-article{
    margin-left: 20px;
}

.form-article label{
    font-size: 20px;
}

.delete-button{
    margin-right: 20px;
}

.delete-button input{
    border: none;
    background-color: transparent;
    font-family: 'Open Sans', sans-serif;
    font-size: 17px;
    color: red;
}

.form-article-submit{
    width: 20%;
    height: 30px;
    border-radius: 20px;
    background-color: rgb(8, 32, 50);
    color: white;
    margin-top: 21px;
}

.grid-page-2{
    display: grid;
    grid-template-columns: 10% 80% 10%;
    margin-top: 25px;
}


.add-business-form-container{
    display: grid;
    grid-template-columns: 20% 80%;
    grid-template-rows: 15% 15% 15% 55%;
    width: 70vw;
    height: 70vh;
}

.add-business-form-container > *{
    margin: 5px;
}

.add-business-img-container{
    border: 1px solid rgb(51, 71, 86);
}

.label-container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.label-container label{
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.file-choose-container{
    height: 50%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.file-choose-container > *{
    width: 87.14px;
}

.add-shop-name{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-account-name{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.add-password{
    display: flex;
    justify-content: center;
    align-items: center;
}

.add-additional-info{
    background-color: violet;
}

.new-business-input{
    width: 100%;
    height: 100%;
    border-radius: 4px;
    border: 1px solid rgb(51, 71, 86);
    padding-left: 10px;
}


#category{
    height: 100%;
    text-align: center;
    font-size: larger;
}

#category,
#business-account-name{
    width: 48%;
}

input[type=text], input[type=password], #additional-info{
    padding: 10px 20px;
    font-size: 17px;
}

#additional-info{
    width: 100%;
    height: 100%;
    resize: none;
    border: 1px solid rgb(51, 71, 86);
    border-radius: 4px;
}

input[type=submit]{
    width: 100%;
    height: 40px;
    border-radius: 39px;
    border: none;
    background-color: rgb(51, 71, 86);
    color: white;
    font-size: 30px;
    margin-top: 10px;
}

.create-article-form-container{
    border: 1px solid rgb(51, 71, 86);
    width: 70vw;
}

.article-picture-container{
    margin: 20px 20px;
    border: 1px solid rgb(51, 71, 86);
    padding: 150px 150px;
}

.article-picture-label{
    text-align: center;
}

.article-picture-label label{
    font-family: 'Open Sans', sans-serif;
    font-size: 40px;
}

.article-file-choose{
    display: flex;
    justify-content: center;
}

.article-file-choose > *{
    width: 87.14px;
}

.article-title-container{
    margin: 20px 20px;
}

.article-title-container input[type=text]{
    border-top: none;
    border-left: none;
    border-right: none;
    height: fit-content;
    font-size: 30px;
    width: 100%;
}

.article-title-container input[type=text]::placeholder{
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;
}

.article-content-container{
    margin: 20px 20px;
}

.article-content-container > *{
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    padding: 10px 20px;
    font-size: 20px;
    resize: none;
}

.submit-article-container{
    display: flex;
    justify-content: center;
}

#article-submit{
    width: 20%;
    height: 30px;
    font-size: 24px;
}


.row1 > *{
    width: 100%;
}

.row2 {
    display: flex;
    gap: 10px;
    margin-top: 20px;
}

input[type=time]{
    padding: 8px 20px;
    font-size: 17px;
}

label{
    font-family: 'Open Sans', sans-serif;
}

.movie-info{
    margin-top: 20px;
}

.time-duration > input[type=text]{
    width: 100px;
}

.event-row-1{
    display: flex;
    gap: 5px;
}

input[type=date]{
    padding: 8px 20px;
    font-size: 17px;
}

.event-additional-info{
    margin-top: 15px;
}

#item-name{
    width: 100%;
}

.item-row2{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 20px;
}

#item-available{
    width: 20px;
}

.item-row3{
    margin-top: 20px;
}

#item-available{
    font-size: 17px;
    padding: 0 0;
    width: 40px;
    height: 40px;
    text-align: center;
}


.display-container{
    margin-top: 10px;
    flex-basis: 821.95px;
    display: flex;
    justify-content: space-between;
}

.display-container-2{
    margin-top: 10px;
    flex-basis: 100%;
    display: flex;
    justify-content: space-between;
}


.display-infos{
    width: 18%;
    text-align: center;
    font-family: 'Open Sans', sans-serif;
    color: rgb(8, 32, 50);
}


.display-label{
    margin-bottom: 10px;
}

.display-value{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
    border: 1px solid rgba(51, 71, 86,0.6); 
}


#password-wrap{
    overflow-wrap: anywhere;
}

#info-scroll .display-value{
    overflow-y: scroll;
    align-items: flex-start;
}

#item-stock{
    width: 150px;
}

.back-container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100px;
    margin-left: 20px;
    gap: 10px;
}

.back-text:hover{
    font-size: 22px;
}

.back-link{
    text-decoration: none;
}

.back-text{
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    height: 34px;
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.profile-icon{
    width: 60px;
    height: 50px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.profile-icon img{
    width: 30px;
}

#display-img-business{
    overflow-x: hidden;
}

#display-img-business img{
    height: 190px;
}

.delete-form-container{
    margin: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
}

.delete-form-container :nth-child(2){
    margin-top: unset;
    width: 120px;
}

.explore-list-header-2,
.explore-list-header{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-top: 100px;
    font-family: 'Open Sans', sans-serif;
    font-size: 27px;
    color: rgb(8, 32, 50);
    padding-left: 20px;
    padding-bottom: 15px;
    border-bottom: 2px solid rgb(8, 32, 50);
}

.explore-list-header-2 h1 span,
.explore-list-header h1 span{
    font-weight: 300;
}

.explore-list-header-2{
    border-bottom: unset;
}

.explore-list-container{
    color: rgb(8, 32, 50);
    margin-top: 50px;
    font-family: 'Open Sans', sans-serif;
    transform: scale(1.2);
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 33% 33% 33%;
}



.explore-list-head{
    /* outline: 1px solid pink; */
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.explore-list-head svg{
    margin-right: 10px;
    transform: scale(1.3);
}

.explore-list-head h3{
    font-size: 20px;
    font-weight: 500;
}

.explore-list-body{
    padding-top: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.explore-list-body > * {
    margin-bottom: 15px;
    text-decoration: none;
    color: rgb(8, 32, 50);
}

.explore-list-body > * > *{
    font-weight: 300;
}

.button-form-container{
    margin: 120px 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.button-form-container a{
    text-decoration: none;
}

.button-form-button{
    width: 200px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Open Sans', sans-serif;
    border-radius: 30px;
    background-color: rgba(51, 71, 86,1);
    color: white;
}

.button-form-button h3{
    font-weight: 300;
}

.tile-grid-container{
    margin-top: 30px;
    width: 100%;
    display: grid;
    justify-content: space-around;
    grid-template-columns: 22% 22% 22% 22%;
    grid-template-rows: 170px 170px;
    gap: 20px;
}

.tile-grid-container > * {
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-decoration: none;
}

.tile{
    outline: 1px solid rgba(51, 71, 86,1);
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
    transition: background-color 0.2s ease-in-out 0s;
}

.tile svg{
    transform: scale(2);
    transition: fill 0.2s ease-in-out 0s;
}

.tile h3{
    font-weight: 300;
    margin-top: 10px;
    color: rgba(8, 32, 50, 1);
    transition: color 0.2s ease-in-out 0s;
}

.tile:hover {
    background-color: rgba(8, 32, 50, 1);
}

.tile:hover svg{
    fill: white;
}

.tile:hover h3{
    color: white;
}

#cinema-tile{
    grid-column: 1 / span 2;
}

#others-tile{
    grid-column: 3 / span 2;
}

.button-container-cart{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    font-family: 'Open Sans', sans-serif;
    margin-top: 20px;
}

.button-container-cart a{
    text-decoration: none;
}

.cart-button{
    width: 250px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
}

.cart-button h4{
    font-weight: 300;
}

#orders-cart-button{
    outline: 1px solid rgb(51, 71, 86);
    color: rgb(51, 71, 86);
}

#checkout-cart-button{
    background-color: rgb(51, 71, 86);
    height: 44px;
    width: 250px;
    font-size: 18px;
    color: white;
    margin-top: unset;
    font-weight: 300;
    cursor: pointer;
}

.cart-item{
    border: 2px solid rgb(51, 71, 86);
    border-radius: 40px;
    display: flex;
    margin-top: 40px;
    width: 850px;
    justify-content: space-around;
    align-items: center;
    padding: 20px;
}

.cart-item > *{
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Open Sans', sans-serif;
}

.checkbox-container input{
    width: 40px;
    height: 40px;
}

.item-img img{
    height: 100px;
}

.item-name h3{
    font-weight: 300;
    font-size: 30px;
}

.price-quantity{
    flex-direction: column;
}

.price-quantity h4{
    font-weight: 300;
    font-size: larger;
}

.quantity{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.quantity input{
    width: 100px;
    height: 30px;
    margin-left: 10px;
}


.center-2 {
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 30px;
}

.center-2 > *{
    width: 100%;
}

.goto-cart-button{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5px;
    border: 1px solid rgb(51, 71, 86);
    border-radius: 30px;
}

.goto-cart-button a{
    text-decoration: none;
}

.gotocart{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    width: 300px;
    color: #334756;
    font-family: 'Open Sans', sans-serif;

}
.inner-left{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.checkout-item{
    display: flex;
    justify-content: center;
    align-items: center;  
    width: 75%;
    padding-top: 20px;
    padding-bottom: 20px;
    gap: 30px;

    border: 2px solid rgb(51, 71, 86);
    border-radius: 40px;

    margin-bottom: 30px;
}

.item-info{
    font-family: 'Open Sans', sans-serif;
}

.item-info h2{
    font-weight: 300;
}

#item-name-checkout{
    color: rgb(51, 71, 86);
    font-weight: unset;
    font-size: 30px;
}

.inner-right{
    display: flex;
    justify-content: center;
}

#checkout-form-form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.checkout-form{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 75%;
    height: 500px;
    border: 2px solid rgb(51, 71, 86);
    border-radius: 40px;
}


.customer-location{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
}

.customer-location svg{
    transform: scale(1.5);
}

.customer-location h1{
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: 35px;
    margin-left: 20px;
}

.enter-address{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 30px;
    margin-bottom: 40px;
}

#enteraddress{
    height: 100px;
    width: 90%;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

.checkout-payout{
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin-top: 10px;
}

.checkout-submit{
    margin-top: 50px;
}

.checkout-submit input{
    font-family: 'Open Sans', sans-serif;
    width: 200px;
    font-size: 20px;
}

.check-status a .cart-button{
    background-color: rgba(51, 71, 86,1);
}

.check-status a .cart-button h4{
    color: white;
}

.file-uploads {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 30%;
    border: 1px solid rgb(51, 71, 86, 0.6);
}

.movie-info{
    display: flex;
    gap: 20px;
}


.file-uploads input[type=file]{
    width: 87.14px;
    overflow-x: hidden;
}

.separator{
    width: 100%;
    content: " ";
    outline: 1px solid rgb(51, 71, 86, 0.6);
}